# Created by .ignore support plugin (hsz.mobi)
*.class
.mtj.tmp/
*.jar
*.war
*.ear
hs_err_pid*
.DS_Store
applet
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
.idea/
HelloWorld.iml
out/
